/*Page principale */

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


.navbar
{
    display: flex;
    align-items: center;
    padding: 10px;
    
}

nav
{
    flex: 1;
    text-align: right;
}

nav ul
{
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
}

nav ul li
{
    display: inline-block;
    margin-right: 20px;
}

a
{
    text-decoration: none;
    color:  	#48D1CC;
}

.container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row
{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img
{
    max-width: 100%;
    padding: 50px 0;
}

.btn
{
    display: inline-block;
    background:  	#48D1CC;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover
{
    background: #86b300;
}


.categories
{
    margin: 0px;
    display: flex; 
    flex-wrap: wrap;
}

.side_menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    
}

.side_menu ul
{
    list-style-type: none;
}

.side_menu ul li 
{
    border: 1px  	#48D1CC ridge;
    border-radius: 3px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    transition: background 0.5s;
}

.side_menu ul li:hover
{
    background: #afc277;
}

.side_menu ul li a:hover
{
    color: white;
}

.articles
{
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

    
}

.articles div
{
    margin: 10px;
}




footer
{
    background-color :	#48D1CC;
    height: 300px;
    width: 100%;
}

footer p
{
    text-align: center;
}

footer a
{
    color: white;
}

.title
{
    font-weight: bold;
}

.bas_page
{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.bas_page ul
{
    list-style-type: none;
}

.table
{
    border:medium solid #000000;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

td
{
    border:thin solid rgb(10, 10, 10);
    width:50%;
}


/* Page de connexion */

.login
{
    margin: 100px;
    padding: 15px;
    border: 1px 	#48D1CC;
    border-radius: 5px;
    width: 365px;
    text-align: center;
}

/* */
